{{define "chatroom"}}
<div class='msgln'><span class='chat-time'>12:43</span> <b class='user-name'>NAME</b>"hello"<br></div>
<div class='msgln'><span class='chat-time'>12:43</span> <b class='user-name'>NAME</b> "what is this<br></div>
<div class='msgln'><span class='chat-time'>12:43</span> <b class='user-name'>NAME</b> hxdshsh <br></div>
<div class='msgln'><span class='chat-time'>12:43</span> <b class='user-name'>NAME</b>jxjx dshsdhj<br></div>
<div class='msgln'><span class='chat-time'>12:43</span> <b class='user-name'>NAME</b><br></div>
{{end}}